{% extends 'modelo.html' %}
{% block conteudo %}

<h3 style="display: flex; justify-content: center; text-align: center;"> Envie seu currículo: </h3>
<form class="row g-3 needs-validation" novalidate style="display: flex; justify-content: center; flex-direction: column; align-items: center; " novalidate>

  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Nome</label>
    <input type="text" class="form-control" id="validationCustom01" value="" style="width: 500px;"  required>
    <div class="invalid-feedback">
      Preencha com o seu nome
    </div><br>
  </div>

  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Sobrenome</label>
    <input type="text" class="form-control" id="validationCustom02" value="" style="width: 500px;" required>
    <div class="invalid-feedback">
     Preencha com o seu sobrenome
    </div>
  </div>

  <div class="mb-3">
    <label for="formFile" class="form-label"  style="width: 360px; margin-left: 590px;">Escolha um arquivo PDF:</label>
    <input type="file" class="form-control" id="pdfInput" accept=".pdf" style="width: 360px; margin-left: 590px;">
  </div>
  <input type="submit" class="mt-2 btn btn-lg btn-outline justify-content-center " onclick="uploadPDF()" style="background-color: #00F5FF; color: #000; width: 400px;" value="Enviar" />
</form>
  
  
  <script>
    (() => {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
        }

        form.classList.add('was-validated')
        }, false)
    })
    })()
    function uploadPDF() {
      // Obter o elemento de entrada de arquivo
      var pdfInput = document.getElementById('pdfInput');
  
      // Verificar se um arquivo foi selecionado
      if (pdfInput.files.length > 0) {
        // Obter o primeiro arquivo (o usuário pode selecionar vários, mas aqui estamos lidando com apenas um)
        var pdfFile = pdfInput.files[0];
  

        alert('Nome do arquivo: ' + pdfFile.name );
      } else {
        // Caso nenhum arquivo tenha sido selecionado
        alert('Por favor, selecione um arquivo PDF.');
      }
    }
  </script>
  
{% endblock %}